.server-sidebar {
    width: 72px;
    background: #1e1f22;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    gap: 14px;
}

.server-logo {
    width: 48px;
    height: 48px;
    border-radius: 16px;

    background: #5865f2;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}

.server-logo:hover {
    border-radius: 12px;
}

.server-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.server-button {
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    background: #313338;
    color: white;

    font-weight: bold;
    font-size: 18px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.server-button:hover {
    background: #5865f2;
    border-radius: 16px;
}

.server-button.active {
    background: #5865f2;
    border-radius: 16px;
}