.server-sidebar {
    width: 72px;
    height: 100%;

    background: #1e1f22;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px 0;
    gap: 14px;
}

.server-logo {
    width: 48px;
    height: 48px;
    border-radius: 16px;

    background: #5865f2;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}

.server-logo:hover {
    border-radius: 12px;
}

.server-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.server-button {
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    background: #313338;
    color: white;

    font-weight: bold;
    font-size: 18px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.server-button:hover {
    background: #5865f2;
    border-radius: 16px;
    transform: scale(1.05);
}

.server-button.active {
    background: #5865f2;
    border-radius: 16px;
}

.add-server {
    background: #2b2d31;
    color: #23a55a;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
}

.add-server:hover {
    background: #23a55a;
    color: white;
}

.logout-button {
    margin-top: auto;

    width: 48px;
    height: 48px;

    border: none;
    border-radius: 50%;

    background: #313338;
    color: #ed4245;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.2s ease;
}

.logout-button:hover {
    background: #ed4245;
    color: white;
    border-radius: 16px;
}

.server-sidebar {
    display: flex;
    flex-direction: column;
}

.server-list {
    flex: 1;
}

.server-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 16px;
}

.server-logo {
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;
}
.server-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    
}
.server-icon-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.server-button.owner {
    cursor: pointer;
}